services:
  db:
    image: mysql:8
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_DATABASE: comments_db
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  backend:
    build: ./backend
    container_name: nestjs_app
    ports:
      - "3000:3000"
    depends_on:
      - db
    volumes:
      - ./backend:/app
    working_dir: /app
    command: npm run start:dev  # или start:prod, если нужно

  frontend:
    build: ./frontend
    container_name: react_app
    ports:
      - "5173:5173"
    depends_on:
      - backend
    volumes:
      - ./frontend:/app
    working_dir: /app
    command: npm run dev

volumes:
  db_data:
