version: "3.9"

services:
  db:
    image: mysql:8
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_DATABASE: comments_db
    ports:
      - "3306:3306"
    volumes:
      - ./db:/var/lib/mysql

  frontend:
    build: ./frontend
    container_name: react_app
    ports:
      - "5173:5173"

